
.m-entity-new {
  border: 1px solid #000;
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding: 2rem;
  width: 50rem;

  .header {
    align-self: flex-end;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 1rem;

    > .close {
      cursor: pointer;
      margin-left: 1rem;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}